<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<%= render 'form', post: @post %>

<table>
  <thead>
    <tr>
      <th>Titulo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id="posts-list">
    <%= render @posts %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
